*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-size:11px; */
}

.space5{margin-top: 5px !important;}
.space10{margin-top: 10px !important;}
.space15{margin-top: 15px !important;}

.labelClickValue{cursor: pointer;}

select[style*="display: none"] + .select2 { display: none; }

.table-borderless > tbody > tr > th,
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
	border: none;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

td.details-control {
	background: url('../../../libs/common/img/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../../../libs/common/img/details_close.png') no-repeat center center;
}

/* ---------------- Tabs ---------------- */ 
#exTab3 .nav-pills > li {
   background-color: #fff;
}
#exTab3 .nav-pills > li > a {
	border-radius: 4px 4px 0 0 ;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
#exTab3 .tab-content {
  	padding : 5px 15px;
	border: 1px solid #ddd;
	border-radius: 0 4px 4px 4px ;
	background-color: #fff;
}

/* ---------------- Text Coloring ---------------- */ 
.txtOrange{color:#f25c27;}
.txtBlue{color:#337ab7;}
.txtGreen{color:#46BFBD;}
.txtYellow{color:#FDB45C;}
.txtRed{color:#F7464A;}
.txtGrey{color:#a2aaac;}
.txtDark{color:#1F3140;}
.txtWhite{color:#FFFFFF;}

.bgOrange{background-color:#f25c27;}
.bgGrey{background-color:#f9f9f9;}
.bgBlue{background-color:#337ab7; color: #ffffff;}

body {
	background-color: #cccccc;
	height: 500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/* ---------------- bs-callout ---------------- */ 
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout h5 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-default {
	border-left-color: #777;
}
.bs-callout-default h5 {
	color: #777;
}
.bs-callout-primary {
	border-left-color: #428bca;
}
.bs-callout-primary h5 {
	color: #428bca;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-success h5 {
	color: #5cb85c;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.bs-callout-danger h5 {
	color: #d9534f;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;
}
.bs-callout-warning h5 {
	color: #f0ad4e;
}
.bs-callout-info {
	border-left-color: #5bc0de;
}
.bs-callout-info h5 {
	color: #5bc0de;
}

/* ---------------- Scroll Up Button ---------------- */
.scroll-up-button {
	display: inline-block;
	background-color: #FF9800;
	width: 36px;
	height: 33px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 5px;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	text-decoration: none;
}
.scroll-up-button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 30px;
	color: #fff;
}
.scroll-up-button:hover {
	cursor: pointer;
	background-color: #333;
}
.scroll-up-button:active {
	background-color: #555;
}
.scroll-up-button.show {
	opacity: 1;
	visibility: visible;
}

/* ---------------- Default FOnt Bootbox ---------------- */
.bootbox{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:11px;
}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/ajax-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
	opacity: .8;
}